<h2>
  New Developer
</h2>
<form (ngSubmit)="onSubmit(developerForm.value)" #developerForm="ngForm">
  <table>
    <tr>
      <td><label for="name">Name</label></td>
      <td><input id="name" name="name" type="text" [ngModel]="developer?.name"/></td>
    </tr>
    <tr>
      <td>
        <label for="salary">Salary</label>
      </td>
      <td>
        <input id="salary" name="salary" type="number" [ngModel]="developer?.salary"/>
      </td>
    </tr>
  </table>
  <button type="submit">Add Developer</button>
</form>
